on: [push]

name: Ansible Bastion

jobs:
  ansible-bastion:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Configure Ansible bastion host
        uses: reitermarkus/.github/actions/ansible-bastion@main
        with:
          host: ${{ secrets.ANSIBLE_BASTION_HOST }}
          key: ${{ secrets.ANSIBLE_BASTION_KEY }}

      - name: Run Ansible
        run: |
          ansible opnsense -i inventory.yml -a 'hostname -f'

