on:
  workflow_call:
    inputs:
      toolchain:
        description: 'Rust toolchain'
        default: 'stable'
        type: string
      test-args:
        description: 'Cargo test arguments'
        default: '--all'
        type: string

name: CI

env:
  CARGO_TERM_COLOR: always

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Check out Repository
        uses: actions/checkout@v3

      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Set up cache
        uses: Swatinem/rust-cache@842ef286fff290e445b90b4002cc9807c3669641

      - name: Install clippy
        run: rustup component add clippy

      - name: Run cargo check
        uses: actions-rs/cargo@v1
        with:
          command: check

      - name: Run cargo clippy
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: -- -D warnings

  test:
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - name: Check out Repository
        uses: actions/checkout@v3

      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ inputs.toolchain }}
          override: true

      - name: Set up cache
        uses: Swatinem/rust-cache@842ef286fff290e445b90b4002cc9807c3669641

      - name: Run tests
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: ${{ inputs.test-args }}

  publish:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Check out Repository
        uses: actions/checkout@v3

      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ inputs.toolchain }}
          override: true

      - name: Set up cache
        uses: Swatinem/rust-cache@842ef286fff290e445b90b4002cc9807c3669641

      - name: Log into crates.io
        if: github.event_name != 'pull_request'
        uses: actions-rs/cargo@v1
        with:
          command: login
          args: ${{ secrets.CRATESIO_TOKEN }}

      - name: Publish crate
        uses: actions-rs/cargo@v1
        with:
          command: publish ${{ startsWith(github.ref, 'refs/tags/v') && '' || '--dry-run' }}
