on: [pull_request, push]

name: CI

jobs:
  ci:
    uses: reitermarkus/.github/.github/workflows/docker-build-push.yml@main
    with:
      image-name: ${{ github.repository_owner }}/github
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - name: Self-hosted Renovate
        uses: renovatebot/github-action@ea850436a5fe75c0925d583c7a02c60a5865461d # v43.0.20
        with:
          configurationFile: renovate-config.js
          token: ${{ secrets.GH_TOKEN }}
        env:
          LOG_LEVEL: 'debug'

      - name: Validate Renovate config
        uses: rinchsan/renovate-config-validator@a12a2b98cd4db923c33d1ce407c57afb43f3ff59 # v0.2.0
        with:
          pattern: '*.json'
