on:
  workflow_call:
    inputs:
      registry:
        description: 'Docker registry'
        default: 'ghcr.io'
        type: string
      image-name:
        description: 'Docker image name'
        default: '${{ github.repository }}'
        type: string
      username:
        description: 'Username for Docker registry'
        default: '${{ github.actor }}'
        type: string
      password:
        description: 'Password for Docker registry'
        default: '${{ github.token }}'
        type: string
      platforms:
        description: 'Platforms to build for'
        default: 'linux/amd64,linux/arm64'
        type: string

name: CI

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: hadolint/hadolint-action@v1.6.0
      - uses: azohra/shell-linter@v0.4.0
  build:
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - name: Check out Repository
        uses: actions/checkout@v2

      - name: Debug
        run: |
          echo registry ${{ inputs.registry }}
          echo image-name ${{ inputs.image-name }}
          echo username ${{ inputs.username }}
          echo password ${{ inputs.password }}
          echo github.token ${{ github.token }}
          echo platforms ${{ inputs.platforms }}

      - name: Build and push Docker image
        uses: reitermarkus/.github/actions/docker-build-push@main
        with:
          registry: ${{ inputs.registry }}
          image-name: ${{ inputs.image-name }}
          username: ${{ inputs.username }}
          password: ${{ inputs.password }}
          platforms: ${{ inputs.platforms }}
        id: build-push
