on:
  workflow_call:
    inputs:
      registry:
        description: 'Docker registry'
        default: 'ghcr.io'
        type: string
      image-name:
        description: 'Docker image name'
        default: '${{ github.repository }}'
        type: string
      username:
        description: 'Username for Docker registry'
        default: '${{ github.actor }}'
        type: string
      platforms:
        description: 'Platforms to build for'
        default: 'linux/amd64,linux/arm64'
        type: string
    secrets:
      password:
        description: 'Password for Docker registry'

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: hadolint/hadolint-action@v2.1.0
        with:
          trusted-registries: docker.io,ghcr.io,registry.gitlab.com
      - uses: azohra/shell-linter@v0.6.0
  build:
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - name: Check out Repository
        uses: actions/checkout@v3

      - name: Build and push Docker image
        uses: reitermarkus/.github/actions/docker-build-push@main
        with:
          registry: ${{ inputs.registry }}
          image-name: ${{ inputs.image-name }}
          username: ${{ inputs.username }}
          password: ${{ secrets.password || github.token }}
          platforms: ${{ inputs.platforms }}
        id: build-push
