name: Sync Secrets

on:
  push:
    paths:
      - '.github/workflows/secrets.yml'
  workflow_dispatch:
  schedule:
    - cron: '41 3 * * *'

jobs:
  sync-secrets:
    runs-on: ubuntu-latest
    steps:
      - name: Sync secrets for Docker repos
        uses: google/secrets-sync-action@1aba26186faff097670be531629ddc90bf8207de # tag=v1.7.0
        with:
          github_token: ${{ secrets.GH_TOKEN }}
          secrets: |
            ^DOCKER_.*$
          repositories: |
            ${{ github.repository_owner }}/7d2d
            ${{ github.repository_owner }}/csgo
            ${{ github.repository_owner }}/strongswan
            ${{ github.repository_owner }}/zero-scale-proxy
          repositories_list_regex: false
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_TOKEN: ${{ secrets.DOCKER_TOKEN }}

      - name: Sync crates.io token
        uses: google/secrets-sync-action@1aba26186faff097670be531629ddc90bf8207de # tag=v1.7.0
        with:
          github_token: ${{ secrets.GH_TOKEN }}
          secrets: |
            ^CRATESIO_.*$
          repositories: |
            ${{ github.repository_owner }}/cmacro-rs
            ${{ github.repository_owner }}/ekey-rs
            ${{ github.repository_owner }}/medianheap-rs
            ${{ github.repository_owner }}/dnsparse
            ${{ github.repository_owner }}/lndir
            ${{ github.repository_owner }}/mbusparse
            ${{ github.repository_owner }}/dlms-cosem-rs
            ${{ github.repository_owner }}/somfy-rs
            ${{ github.repository_owner }}/smart-meter-rs
            ${{ github.repository_owner }}/p9813-rs
            ${{ github.repository_owner }}/vcontrol-rs
            ${{ github.repository_owner }}/max112x-rs
            ${{ github.repository_owner }}/max553x-rs
            ${{ github.repository_owner }}/scl3300-rs
          repositories_list_regex: false
        env:
          CRATESIO_TOKEN: ${{ secrets.CRATESIO_TOKEN }}

      - name: Sync GitHub tokens
        uses: google/secrets-sync-action@1aba26186faff097670be531629ddc90bf8207de # tag=v1.7.0
        with:
          github_token: ${{ secrets.GH_TOKEN }}
          secrets: |
            ^GH_.*$
          repositories: |
            ${{ github.repository_owner }}/7d2d
            ${{ github.repository_owner }}/csgo
            ${{ github.repository_owner }}/strongswan
            ${{ github.repository_owner }}/zero-scale-proxy
            ${{ github.repository_owner }}/rerun-workflow
            ${{ github.repository_owner }}/automerge
            ${{ github.repository_owner }}/homebrew-tap
          repositories_list_regex: false
        env:
          GH_APP_ID: ${{ secrets.GH_APP_ID }}
          GH_APP_KEY: ${{ secrets.GH_APP_KEY }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
