name: Sync secrets

on:
  push:
  workflow_dispatch:
  schedule:
    - cron: '41 3 * * *'

jobs:
  sync-secrets:
    runs-on: ubuntu-latest
    steps:
      - name: Sync secrets for Docker repos
        uses: google/secrets-sync-action@v1.4.1
        with:
          github_token: ${{ secrets.GH_TOKEN }}
          secrets: |
            ^DOCKER_.*$
          repositories: |
            ${{ github.repository_owner }}/7d2d
            ${{ github.repository_owner }}/strongswan
            ${{ github.repository_owner }}/zero-scale-proxy
          repositories_list_regex: false
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_TOKEN: ${{ secrets.DOCKER_TOKEN }}
      - name: Sync GitHub tokens
        uses: google/secrets-sync-action@v1.4.1
        with:
          github_token: ${{ secrets.GH_TOKEN }}
          secrets: |
            ^GH_.*$
          repositories: |
            ${{ github.repository_owner }}/7d2d
            ${{ github.repository_owner }}/strongswan
            ${{ github.repository_owner }}/zero-scale-proxy
            ${{ github.repository_owner }}/rerun-workflow
            ${{ github.repository_owner }}/automerge
          repositories_list_regex: false
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
      - name: Sync GitHub app tokens
        uses: google/secrets-sync-action@v1.4.1
        with:
          github_token: ${{ secrets.GH_TOKEN }}
          secrets: |
            ^GH_.*$
          repositories: |
            ${{ github.repository_owner }}/automerge
          repositories_list_regex: false
        env:
          GH_APP_ID: ${{ secrets.GH_APP_ID }}
          GH_APP_KEY: ${{ secrets.GH_APP_KEY }}
